/* Derja Graphics - Jed Fakhfekh - https://github.com/ougi-washi */

body,
html {
    margin: 0;
    padding: 0;
}

header {
    background-color: #131016de;
    padding: 0.01em; 
    border-radius: .2em;
    position: fixed; 
    top: 0; 
    width: 13em; 
    z-index: 5; 
}

footer {
    background-color: #131016de;
    color: #383c3f;
    padding: 0.1em;
    border-radius: 0.2em;
    text-align: center;
    position: fixed;
    font-size: .8em;
    bottom: 0;
    right: 0;
    width: 23.0em;
    z-index: 5;
}

.header {
    font-size: .9em;
    line-height: .85;
    color: #666;
}

nav ul {
    list-style-type: none; 
    padding-left: 30px; 
}

nav ul li {
    display: inline;
    margin-right: 10px; 
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff; 
    text-decoration: none; 
}

nav ul li a:hover {
    text-decoration: underline; 
}

::-webkit-scrollbar {
    width: 0;  /* For Chrome, Safari, and Opera */
}

::-webkit-scrollbar-track {
    background: transparent;  /* For Chrome, Safari, and Opera */
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 80%;
    position: relative;
    font-family: Arial, sans-serif;
    height: 100%;
    z-index: 1;
}

.container h1 {
    font-size: 2.5em;
    color: #a5bed2;
    text-align: center;
}

.container h2 {
    font-size: 1.3em;
    color: #a5bed2;
    text-align: center;
}

.container h3 {
    font-size: 1.2em;
    color: #748695;
}

.container h4 {
    font-size: 1.1em;
    color: #637381;
}

.container p {
    font-size: 1.1em;
    color: #666;
    line-height: 1.5;
}

.container a {
    color: #007bff;
    text-decoration: none;
    pointer-events: auto;
}

.container a:hover {
    text-decoration: underline;
}

.section {
    background-color: rgba(15, 11, 11, 0.7);
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    margin-bottom: .7em;
    border-radius: .4em;
}

.section h2 {
    font-size: 1.8em;
    color: #7b8899;
    margin-top: 0;
    margin-bottom: 10px;
}

.section p {
    font-size: 1.1em;
    color: rgb(208, 183, 183);
    line-height: 1.5;
}

.suggestion-section p {
    font-size: 1.1em;
    color: rgb(208, 183, 183);
    line-height: 1.5;
}

#glsl-code {
    margin-top: 0.0em;
    background-color: rgba(245, 245, 245, 0.3);
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0.2em;
    display: inline-block;
    max-width: 80%;
    text-align: center;
    overflow-x: auto;
}

#glsl-code pre {
    color: #ccc5a1;
}

code, #glsl-code code {
    font-size: 1.3em;
    color: #b2ad8f;
    font-weight: bold;
}

code comment {
    color: #5aa85a;
}

.tabbed-content {
    margin-left: 40px;
}

#glsl-code iframe {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
    max-width: 80%;
    text-align: center;
    border: none;
}

.image-container {
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
}

.image-container_small {
    width: 20em;
    margin: 0 auto;
}

.image-container img {
    display: block; 
    width: 100%;
    border-radius: .4em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}
